
  <div class="container">
    <h1 class="heading heading-member">
    <span class="heading-title">Members</span>
    </h1>
    <% @users.each do |user| %>
    <div class="author-coin">
      <div class="author-coin-item-inner js-author-coin-item-inner">
        <div class="author-coin-item-default">
          <article class="author-coin-item js-author-coin-item" data-other="1">
        <%= link_to("/pages/#{user.id}") do%>
          <img class="author-coin-thumbnail" src="<%= "/user_images/#{user.image_name}" %>">
           </article>
          <% end %>
        </div>
          <h2 class="author-coin-title">
        <span class="author-coin-title-position"><%=user.name%></span>
          </h2>
       
      </div>
    </div>
      
    <% end %>
  </div>
