/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 



@import "bootstrap";

body{
    padding: 30px 0;
    margin:0;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	background-color: #ffff;
	
}
.container{
    text-align: center;
    padding: 24px 0;
}


 ul, li{
    list-style-type: none;

}

a {
    text-decoration: none;
  }

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 3.6em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
	padding: 0;
	font-size: 2.0rem;
    
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

//body
//ログイン前
.form-check-input{
	margin-right: 0.1px;
}

//index legのパクリ
.heading-member .heading-title {
    padding: 0 440px;
    font-size: 48px;
}

.heading-member {
    display: block;
    text-align: center;
}


.heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 18px 0;
}

.author-coin-thumbnail {
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    
}

.author-coin-item {
    display: block;
    max-width: 20%;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    padding: 10px 0 10px;
}

.author-coin-item-default {
    -webkit-transform: translate3d(0,0,2px);
    transform: translate3d(0,0,2px);
}

.author-coin {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}

.author-coin-title {
    display: block;
    padding: 0 10px;
}

.author-coin-title-position {
    display: block;
    margin: 15px 0 0;
    font-size: 24px;
    line-height: 1;
    text-align: center;
}

.author-detail-description {
    margin-top: 39px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: .05rem;
}
//





.form{
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form h1{
    background: #43D1AF;
	padding: 20px 0px;
	font-size: 160%;
	font-weight: 300px;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form h3{
    font-size: 16px;
    color: rgba(000,000, 000, 0.7);
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form textarea,
.form select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form input[type="password"]:focus,
.form textarea:focus,
.form select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form input[type="submit"],
.form input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form input[type="submit"]:hover,
.form input[type="button"]:hover{
	background: #2EBC99;
}
.form label{
    font-size: 20px;
    color: rgba(000,000, 000, 0.7);
}


.profile-card{
	width: 100%;
	
	position: relative;
	background: rgba(000,000, 000, 0.7); /*背景の色*/
	box-shadow: 0px 1px 3px rgba(0,0,0,.18);
	overflow: hidden;
  }
  
  
  
  .profile-card__inner{
   position: relative;
   color: #ffff;
  }
  .profile-card__inner a{
	  color: #ffff;
  }
  
  .profile-thumb{
	  overflow: hidden;
	  width: 110px;
	  height: 110px;
	  border: #fff 3px solid;
	  border-radius: 55px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 20px;
	  background: #fff;
  }
  
  .profile-thumb img{
	display: block;
	  width: 100%;
	  height: auto;
  }
  
  .profile-content{
	padding-bottom: 15px;
	padding-top: 15px;
  }
  
  .profile-content span{
	display: block;
  }
  
  .profile-name{
	margin-bottom: 3px;
	font-weight: bold;
	text-align: center;
  }
  
  .profile-job{
	margin-bottom: 10px;
	color: #ccc;
	font-size: 16px;
	text-align: center;
  }
  .profile-card a{
	  color: #97c4c4;
  }
  
  .job-intro, .profile-intro{
	padding-bottom: 10px;
	width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
